/debug
/images
/ipch
/release
build-solarissparc.sh
build-solarisx86.sh
build-ubuntu.sh
build-xp.bat
rcstree.sdf
rcstree.sln
rcstree.suo
rcstree.vcxproj
rcstree.vcxproj.filters
rcstree.vcxproj.pdsyncu
rcstree.vcxproj.user
vc100.pdb